node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
veda
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env.*
!.env.example
.DS_Store
Thumbs.db
server/node_modules/
app/node_modules/
app/.expo/
